@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/Mileast-drqXX.otf') format('opentype'); /* Remove /public */
  /* font-weight: normal;
  font-style: normal; */
}
@font-face {
  font-family: 'textFonts';
  src: url('/fonts/font2.otf') format('opentype'); /* Remove /public */
  /* font-weight: normal;
  font-style: normal; */
}

* {
  font-family: 'Ubuntu';
}

body {
  font-family: 'Fira Code', monospace;
}



body{
  /* font-family: 'MyCustomFont'; */
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #59e1e4;
}

::-webkit-scrollbar-thumb:hover {
  background: #59e1e4;
}


  :root {
    /* --mainText: #A294F9; */
    --mainText: #00b9bc;
    --Background: #f2f9fa;
/* absolute content-[""] border-2 border-dotted rounded-lg border-[--mainText] dark:border-[--mainText] -top-5 -right-5 h-full z-40 w-full */  }
  .dark{
    --mainText: #59e1e4;
    --Background: #000000;
  
  }






body {
  transition: background-color 0.9s ease, color 0.9s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.linkMobileNav:hover{
  .buttonArrowflex{
    transform: rotate(12deg);
  }
 
  
}

.socialLink:hover{
  .innerIcons{
    scale: 1.2;
    transition: all .9s ease-in-out;
    
  }
}

.skill{
  z-index: 50;
}
.hoverdiv:hover{
  transition: .5s ease-in-out;
  .skillborder{
    top:-15px;
    right:-15px;
  }
  .iamgeskill{
    scale: 1.05;
    transition: .4s ease-in-out;
  }
  .textSkill{
    scale:0.9;
    transition: .4s ease-in-out;
  }
}

.skillborder{
position: absolute;
content: "";
height: 100%;
width: 100%;
top: 0px;
right: 0px;
z-index: -40;
transition: .2s ease-in-out;
}
